<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Meal Maker | Course</title>
    </head>
    <body class="show-course-details">
        <div class="card mx-auto" style="width: 25rem; margin-top: 10vh;">
          <img src="/images/course-list.jpg" class="card-img-top" alt="stacked-books-and-pencil-holder">
          <div class="card-body text-center">
            <h5 class="card-title my-3">
                <i class="fa-solid fa-graduation-cap" style="color: #121111;"></i>
                <%= course.title %>
            </h5>
            <p class="card-text text-muted mb-1">
                <img src="/images/students-learning.png" style="float:left" height="24" width="24">
              <%= course.maxStudents %>
            </p>

            <p class="card-text text-muted mb-1">
              <img src="/images/course-cost-dollar.png" style="float:left" height="24" width="24">
              <%= course.cost %>
            </p>

            <p class="card-text text-muted mb-1">
                <%= course.description %>
            </p>

            <a class="btn btn-success all-users-btn" href="/courses">All Courses</a>
            <a class="btn btn-primary edit-user-btn" href="<%= `/courses/${course._id}/edit` %>">Edit Course</a>
            <a class="btn btn-danger delete-user-btn" href="<%= `/courses/${course._id}/delete?_method=DELETE` %>" onclick="return confirm(`Are you sure you want to delete <%= course.title %>`)">Delete Course</a>
          </div>

        </div>

    </body>
</html>